.trex-wrapper {
  width: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.trex-actions {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.trex-actions #trex-translate:hover,
.trex-actions #trex-save:hover,
#trex-open-dictionary:hover {
  letter-spacing: 3px;
  background-color: #3694d7;
}

.trex-actions > *,
#trex-open-dictionary {
  color: white;
}
.trex-actions #trex-translate,
.trex-actions #trex-save,
#trex-open-dictionary {
  height: 26px;
  width: auto;
  border: none;
  margin: 7px auto;
  padding: 7px auto;
  border-radius: 3px;
  letter-spacing: 0px;
  text-transform: uppercase;
  background-color: #cde4f5;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#trex-source-input-wrapper {
  margin-top: 55px;
}

#trex-source-input-wrapper,
#trex-result-input-wrapper {
  width: 100%;
  position: relative;
}

#trex-source-input-wrapper {
  margin-bottom: 25px;
}

#trex-result-input-wrapper {
  margin-bottom: 15px;
}

#trex-source,
#trex-result {
  width: 100%;
  height: 25px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 7px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #cbd8e3;
}

#trex-source-placeholder,
#trex-result-placeholder {
  top: 6px;
  left: 8px;
  padding: 0 8px;
  font-weight: 400;
  position: absolute;
  border-radius: 5px;
  pointer-events: none;
  background-color: white;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: grey;
}

#trex-source:not(:placeholder-shown)#trex-source:not(:focus) + #trex-source,
#trex-result:not(:placeholder-shown)#trex-result:not(:focus) + #trex-result {
  color: #cbd8e3;
  transition: 0.2s ease;
  transform: scale(0.75) translateY(-36px) translateX(-15%);
}

#trex-source:focus {
  border-color: #0088ff;
}
#trex-result {
  border-color: #cde4f5;
}

#trex-source:focus + #trex-source-placeholder,
#trex-source:not(:placeholder-shown) + #trex-source-placeholder,
#trex-result + #trex-result-placeholder {
  color: #0088ff;
  transition: 0.2s ease;
  transform: scale(0.75) translateY(-36px) translateX(-15%);
}

#trex-source-language-select-wrapper {
  top: 5px;
  width: 70%;
  height: 26px;
  position: absolute;
}

#trex-source-language-select {
  width: 100%;
  height: 26px;
  color: #444;
  outline: none;
  z-index: 1000;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
  border-radius: 13px;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  background-color: #cde4f5;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
}
#trex-source-language-select input:focus + label {
  background: #def;
}
#trex-source-language-select input {
  width: 1px;
  height: 1px;
  opacity: 0.01;
  position: absolute;
  display: inline-block;
}
#trex-source-language-select label {
  height: 26px;
  display: block;
  cursor: pointer;
  line-height: 26px;
  padding-left: 13px;
  padding-right: 39px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  transition: 0.3s color ease-in-out;
}
#trex-source-language-select label:nth-child(2) {
  margin-top: 26px;
  border-top: 1px solid #d9d9d9;
}
#trex-source-language-select input:checked + label {
  top: 0;
  width: 100%;
  display: block;
  border-top: none;
  position: absolute;
}
#trex-source-language-select input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
#trex-source-language-select::after {
  top: 11px;
  content: "";
  right: 10px;
  position: absolute;
  border: 0.39px solid #3694d7;
  border-color: #3694d7 transparent transparent transparent;
  transition: 0.4s all ease-in-out;
}
#trex-source-language-select.trex-expanded {
  padding: 0;
  height: 195px;
  background: #fff;
  overflow-y: scroll;
  border-radius: 3px;
  border: 1px solid #3694d7;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
}
#trex-source-language-select.trex-expanded label {
  border-top: 1px solid #d9d9d9;
}
#trex-source-language-select.trex-expanded label:hover {
  color: #3694d7;
}
#trex-source-language-select.trex-expanded input:checked + label {
  color: #3694d7;
}
#trex-source-language-select.trex-expanded::after {
  top: 8px;
  transform: rotate(-180deg);
}
